# Overview

# PDF

In [8]:
from fpdf import FPDF 
import pandas as pd

In [1]:
import get_candle_data

enctoken Bnt/PgINDi7Zrx996QlfZ9JaP5tue0YDvU4pOdkmnbAYNAdyhe1oR2PkY7cotIjKdhe36aeWNS8+zfooFpHitKgE56TjKpGaUrMxhdyTQmuwikD2qUISyA==

In [5]:
time_frame = "1d"
stock_name = "ULTRACEMCO.NS"

In [3]:
data = get_candle_data.get_candle_data_from_yfinance(tickers=["ULTRACEMCO.NS"])

[*********************100%%**********************]  2 of 2 completed

1 Failed download:
['NIFTY']: Exception('%ticker%: No data found, symbol may be delisted')

In [4]:
data = data["ULTRACEMCO.NS"]

In [6]:
file_name = f"stock_historical_data/{time_frame}/{stock_name}.xlsx"

In [17]:
stock_data_historical = pd.read_excel(file_name)

In [ ]:
stock_data_historical

In [14]:
stock_df = pd.concat([stock_data_historical, data], axis=0)
stock_df["Datetime"] = pd.to_datetime(stock_df["Datetime"], format='%d-%m-%Y %H:%M:%S')
stock_df = stock_df.drop_duplicates(subset=['Datetime'], keep='first')\
        .sort_values(by='Datetime')\
        .reset_index(drop=True)

In [18]:
stock_data_historical

,Datetime,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Hour,Minute,Second,Week,isPivot,two_line_structure,detect_structure
0,2002-08-12,306.000000,309.899994,305.500000,309.100006,284.191284,13300,2002,8,12,0,0,0,33,0,0,0
1,2002-08-13,302.549988,313.000000,302.549988,310.899994,285.846222,14200,2002,8,13,0,0,0,33,0,0,0
2,2002-08-14,303.100006,312.000000,303.100006,311.200012,286.122101,40000,2002,8,14,0,0,0,33,0,0,0
3,2002-08-15,311.200012,311.200012,311.200012,311.200012,286.122101,0,2002,8,15,0,0,0,33,0,0,0
4,2002-08-16,310.000000,312.000000,308.049988,311.049988,285.984131,30600,2002,8,16,0,0,0,33,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5393,2024-05-07,9799.000000,9948.000000,9630.000000,9682.400391,9682.400391,214305,2024,5,7,0,0,0,19,0,0,1
5394,2024-05-08,9674.950195,9674.950195,9501.400391,9519.400391,9519.400391,392065,2024,5,8,0,0,0,19,0,0,0
5395,2024-05-09,9524.000000,9560.000000,9408.049805,9446.099609,9446.099609,328724,2024,5,9,0,0,0,19,0,0,0
5396,2024-05-10,9462.799805,9518.950195,9416.049805,9491.700195,9491.700195,205200,2024,5,10,0,0,0,19,0,0,0
5397,2024-05-13,9515.950195,9578.000000,9427.099609,9551.500000,9551.500000,215387,2024,5,13,0,0,0,20,0,0,0

In [19]:
stock_data_historical.isnull().any(axis=1).idxmax()

0